:root {
    --principal: #10B981;
    --primary: #fff;
    --onPrimary: #070711;
    --secondary: #F5F5F5;
    --hoverText: #0D5948;
}

.dark-mode:root {
    --primary: #24292E;
    --onPrimary: aliceblue;
    --secondary: #2A3843;
}

*, *::before, *::after { box-sizing: border-box; }

*{
    padding:0;
    margin:0;
}

h2 { padding: 10px; }

html, body{
    padding: 0;
    margin: 0;
    max-width: 100%;
    background:aliceblue;
    background:var(--primary);
    font-size: sans-serif;
    color: var(--onPrimary);
}

nav {
    display:flex;
    width:80%;
    margin: 0 auto;
    height:60px;
    justify-content: space-between;
    align-items:center;
}

nav ul {
    list-style:none;
    display:inline-flex;
    gap:60px;
}

nav ul li { cursor: pointer; }

nav ul li a, .link-like-text {
    text-decoration: none;
    color: var(--onPrimary);
}

nav ul li a:hover, .link-like-text:hover {
    color: var(--hoverText);
    transition: 0.5s;
}

nav .link-like-text {
    font-size: clamp(20px, 1.4vw, 60px);
}

#menu-button { display: none; }

.active-page {
    color:var(--principal) !important;
}

.changeMode {
    width:30px;
    height: 30px;
    border:none;
    background-color: transparent;
    background-image: url("images/icons/sun-fill.svg");
    background-size: 25px;
    background-repeat: no-repeat;
}

.dark-icon {
    background-image: url("images/icons/moon-fill.svg") !important;
}

#main-top {
    margin: 10% auto 0 auto;
    width: 80%;
    display:flex;
    justify-content: space-around;
}

#site-description-div {
    padding:50px;
    display:flex;
    flex-direction: column;
    gap:30px;
}

#buttonToPlayStore, .download-oremos-button{
    background:var(--principal);
    width:170px;
    color:white;
    border:none;
    padding:8px;
    border-radius:8px;
}

#buttonToPlayStore:hover, .download-oremos-button:hover {
    background: var(--hoverText);
    transition: 0.8s;
}

#main-center, .comments {
    width:80%;
    max-width:700px;
    margin:120px auto;
    display: flex;
    justify-content: space-around
}

.functionality {
    display: flex;
    flex-direction:column;
    width:140px;
    gap:20px;
    text-align:center;
}

#main-bottom div {
    padding:20px;
    width:90%;
    background: transparent;
    margin: 20px auto 0 auto;
    overflow-x:auto;
    display: flex;
    gap:50px;
    box-shadow: 0 0 14px 8px rgba(0, 0, 0, .2);
}

#main-bottom div img {
    padding: 0 3%;
}

#main-bottom h2 {
    padding: 50px;
}

footer {
    /* position: relative;
    left: 0;
    bottom: 0; */
    margin: 15% auto 0 auto;
    width: 90%;
    padding:20px;
    color: var(--onPrimary);
    font-size: 14px;
    display: flex;
}

.footer-left div, .footer-top, .footer-bottom{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-left, .footer-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-left div {
    margin-right: auto;
}

.footer-right {
   width: 65%;
   justify-content: space-between;
}

.footer-bottom {
    justify-content: space-evenly;
}


.scrolled::-webkit-scrollbar{
    width:8px;
    background:transparent;
}

.scrolled::-webkit-scrollbar-thumb{
    width:8px;
    border-radius: 8px;
    background: gray;
}

.link-to-outline-btn {
    padding: 8px 12px;
    background: transparent;
    border: 1px solid var(--principal);
    border-radius: 10px;
    text-decoration: none;
    color: var(--principal);
}

@media (width <= 480px) {

    nav { width: 100%; }

    nav ul{ display: none; }

    .showMenu {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, .92);
        padding:30px !important;
    }

    #menu-button {
        display: inline;
         width: 30px;
        height: 30px;
        border: none;
        background-color: var(--principal) ;
        background-image: url("images/icons/list.svg");
        background-size: 25px;
        background-repeat: no-repeat;
        border-radius: 5px;
        background-position: center;
        margin-right: 15px;
    }

    nav ul li:last-child {
        color: red !important;
    }

    .active-menu {
        position: absolute;
        top: 5px;
        right: 5px;
        background-image: url("images/icons/x-circle-fill.svg") !important;
        background-color: transparent !important;
        z-index: 2;
        border: none;
        border-radius: 50%;
        font-size: 20px;
        text-align: center;
    }

    #main-top, #main-center, .comments {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 120px;
    }

    #main-bottom { margin: 30% 0; }

    #main-bottom div { width: 100%; }

    footer {
        width: 100%;
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .footer-left, .footer-right { width: 100%; }
}